@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body{
	font: 400 14px Roboto, sans-serif;
	background-size: 12%;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100vh;
}
.grid1{/* parte do grid que controla o meio do site  */
	display: flex;
	flex-direction: row;
	grid-template-rows: 1fr;
	max-width: 100%;
	flex-wrap: wrap;
	grid-gap: 10px;
	justify-content: center;
}
nav ul{ /* menu de navegacao   */
	margin: 0px;
	margin-bottom: 1px;
}
.menu ul li a{ /* items do menu dentro do nav*/ 
	padding: 20px 30px;
	transition:  .2s linear;
	
}
.menu ul li a:active,.menu ul li a:hover{
	/*items dentro do nav sendo ativados*/
	display: block;
	text-decoration: none;
	background-color: #c6d4e1;
}
.menu ul li a i:active,.menu ul li a i:hover{
	/* icones dentro dos items do menu sendo ativados */
	text-decoration: none;
	background-color: #c6d4e1;
}
.menu {/* parte do icones de cima */
	background-color: #fff;
	position: relative;
	box-shadow: 0 2px 4px 8px rgba(104, 103, 103, 0.39);
}
.pagination li a{ /* parte do icones de cima */
	text-decoration: none;
	color:black;
	}
.container{/* A section que some para fakeloading*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fotos,.fotos2{/* As imagens */
	width: 50px;
	height: 50px;
} 
.heroes{ /* A section que envolve a imagem de backgroud  */
	margin: 0;
	width: 100%;
	height: 90vh;
	background-color:#731fac;
	background-repeat: no-repeat;
	background-image: url('../_imagens/heroes.png');
	background-size: auto;
	background-position: center;
	animation: heroes 1.5s ease-in;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.39);
	border-radius: 0px 0px 85% 85%;
}
.conteudo{ /* a div que envolve todos os menus laterais */
	width: 100%;
	height: 70vh; 
}

.producao{/* A div da menu computador  e a   A div do menu producao*/
	margin: 0;
	width: auto;
	padding: 2%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 30px;
	max-width: 100%;
	justify-self: center;
	justify-items: center;
	align-self: center;
	transition: 0.8s;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	background-color: #eee;
	border: solid 1px #ccc;
}
.hidden{	
	display: none;
}
.btn{
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase; /*sempre letras maiusculas*/
	font-weight: 700;
	border: none;
	padding: 10px;
	cursor: pointer;
}
.btn-roxo{
	background: #8613DB;
	color:#FFF;
	box-shadow:0 5px 0 #700CDB;
	transition: 0.6s ease-in;
}
.btn-roxo:hover{
	background: #700CDB;
	color:#FFF;
	box-shadow:0 5px 0 #5700DB;
}
.btn-roxo:active{
	box-shadow:none;
	position: relative;
	top: 5px;
	transition: 0.2s ease-in;
}
.campo1{
	display: block;
	width: 50vw;
	height: 100vh;
	margin-bottom: 4%;
}
.producao:hover{ /* A div da menu lista  */
	transition: 1.2s;
	padding: 2%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.pc{/* A imagem dentro da div computador  */
	display: grid;
	justify-content: center;
	align-items: center;
	width: 64Px;
	border-bottom: 1px solid white;
}
.flex{ /* A class que envolve o section para fazer a igualdade das colunas e icons */
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom,#731fac,#6d397c);
	box-shadow: 16px 12px 14px 16px rgba(0,0,0,0.3);
	border-radius:3px;

}
.meio{
	margin-bottom: 2%;
	margin-top: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius:13px;
	box-shadow: 16px 12px 14px  rgba(0, 0, 0, 0.568);
	background-color: #dedede;
}
.card{
	transition: .4s;
}
.card:hover{
	transition: .8s ease-in-out;
box-shadow: 7px 7px 7px 10px rgba(0, 0, 0, 0.26);
}
@keyframes heroes {  /* animacao que faz aparecer lentamente apos a div de fakeloading  */
    0% { opacity: 0%;}
    25% { opacity: 24%;}
    70% { opacity: 75%;}
    100% { opacity: 80%;}
  }