@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
body{
	font: 400 14px Roboto, sans-serif;
	background-color:#EEE;
	background-size: 12%;
	-webkit-font-smoothing: antialiased;
}
.logon-container {
	width: 100%;
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;
	margin-bottom: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.forme{
	font-size: 15px;
}
.logon-container section.form {
	width: 85%;
	max-width: 3500px;
	margin: 30px;
	background-color: #eeeeee;
	color: #333;
	border-radius:  8px;
	padding: 100px;
	border: 1px solid #ccc;
	border-radius: 25px;
}
.logon-container section.form form {
	margin-top: 5px;
	font-size: 32px;
	margin-bottom: 15px;
}
input, button, textarea{
	font: 400 18px Roboto, sans-serif;
	margin: 15px;
}
button{
	cursor: pointer;
}
form input{
	background-color: #f5f0f5;
	width: 40%;
	height:60px;
	color: #333;
	border-radius: solid #000 8px;
	padding: 0 24px;
}
.button{
	width: 75%;
	height:60px;
	background-color: #e02041;
	border:0;
	border-radius: 8px;
	color:#fff;
	font-weight: 700;
	margin-top: 16px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height:60px;
	opacity: 35%;
}
.button:hover{
transition:  2s;
	filter:brightness(80%);/*serve para fazer uma mini transicao com falta de luz , tipo alteracao quando passa o mouse em cima*/
	opacity: 100%;
}
.back-link{
	display: flex;
	align-items: center;
	margin-top:40px;
	color:#41414d;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.2s;
}
.back-link svg{
	margin-right: 8px;
}
a {
	text-decoration: none;color:#41414d;
}
a:hover{
	opacity: .8;
	pointer-events: auto;
	text-decoration: none;
}
h1{
	margin-left: 2%;
}
form .inputage{
	width: 30%;
}
@media only screen and (max-width: 700px )  {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			font-size: 8px;
		  }
	h1{
		font-size: 15px;
	}
	a .button{
		display: flex;
		font-size: 8px;
		height: 50%;
		width: 50%;
	}
	.form input{
		display:flex;
		flex-direction: column;
		width: 100%;
		height: 50%;
		margin-bottom: 10px;
	}
	input, button, textarea{
		width: 50%;
		height: 20%;
		margin:0;
	}
	.logon-container{
		width: 100%;
		margin:0;
		padding:0;
	}
	a{
		font-size: 12px;
	}
}
@media only screen and (max-width: 370px) {
	a .button{
		display: flex;
		font-size: 8px;
		height: 50%;
		width: 15%;
	}
}
