@media only screen and (max-width: 1380px) {
	.menu{
		  width: 100%;
	  }
	.most{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 10%;
		align-items: center;
		justify-items: center;
	}
	.box-1,.box-2,.box-3{
		margin: 2%;
	}		
	.jargao,.sub,.sub2,.passe{
		font-size: 20px;
	}
	.mark{
		font-size: 20px;
	}
	h1{
		font-size: 28px;
	}
}
@media only screen and (max-width: 1024px )  {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			font-size: 8px;
		  }
	.most{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 10%;
		align-items: center;
		justify-items: center;
	}
	.quadros{
		width:80%
	}
	.box-1,.box-2,.box-3{
		margin: 2%;
	}
	.box-owners{
		margin-bottom: 4px;
	}
	.computador,.producao{
		margin: 1%;
		width: 40vw;
		font-size: 18px;
		height: 45vh;
	}
	.computador:hover,.producao :hover{
		padding:0;
	}
	.grid
	{
		display:flex;
		grid-template-columns: 1fr;
		max-width: 100%;
		justify-content: center;
		flex-wrap: wrap;
	}
	.jargao,.sub,.sub2,.passe{
		font-size: 16px;
	}
	.mark{
		font-size: 18px;
	}
	h1{
		font-size: 20px;
	}
	a .button{	
		font-size: 14px;
		justify-items: center;
	}
	.form input{
		display:flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		margin-bottom: 10px;
	}
	input, button, textarea{
		width: 50%;
		height: 20%;
		margin:0;
	}
	.logon-container{
		width: 100%;
		margin:0;
		padding:0;
	}
	a{
		font-size: 12px;
	}
	.descricao{
		font-size: 20px;
	}
}

@media only screen and (max-width: 800px) {
	.computador,.producao{
		margin: 1%;
		width: 60%;
		font-size: 18px;
		height: auto;
	}
	.area_texto{
		font-size: 14px;
	}
	.computador,.producao :hover{
		padding:0;
	}
	.descricao{
		font-size: 16px;height: auto;
	}
	.jargao,.sub,.sub:hover,.sub2,.passe,.title_texto{
		font-size: 24px;
	}
	.mark{
		font-size: 12px;
	}
	h1{
		font-size: 18px;
	}
	.descricao,.footer{
		font-size: 14px;
	}
	#explication{
		height: auto;
	}
	.computador:hover,.producao :hover{
		padding:0;
	}
}
@media only screen and (max-width: 660px) {

	#home{
		height: 110vh;
	}
	
	.computador{
		margin-top: 6%;
	}
	.computador,.producao{
		width: 60%;
		font-size: 18px;
		padding: 0;
	}
	.computador:hover,.producao :hover{
		padding:0;
	}
	.area_texto{
		font-size: 14px;
	}
}
@media only screen and (max-width: 468px) {
	#home{
		height: 110vh;
	}
	.texto{
		font-size: 22px;
	}
	.quadros{
		width:70%;
	}
	.computador{
		margin-top: 6%;
	}
	.computador,.producao{
		width: 60%;
		font-size: 18px;
		padding: 0;
	}
	.computador:hover,.producao :hover{
		padding:0;
	}
	.title2{
		margin: 0;
		margin-top: 8%;
	}
	.box-1,.box-2,.box-3{
		margin-top: 1%;
		margin-right: 2%;
		margin-left: 1%;
		width:80% ;
	}
	 h1{
		font-size: 8px;
	}
}
@media only screen and (max-width: 375px) {
	#home{
		height: 100vh;
	}
	.texto{
		font-size: 19px;
	}
.computador:hover,.producao :hover{
		padding:0;
		height: auto;
	}
	#home,#explication,.quadros{
		height: auto;
	}
	a .button{	
		font-size: 14px;
		justify-items: center;
		height: 60px;
	}
	.computador,.producao{
		width: 40%;
		margin-bottom: 0;
		margin-top: 8%;
		padding:0;
		height: 370px;
	}
	.computador,.producao :hover{
		padding:0;
	}
	.jargao,.sub,.sub:hover,.sub2,.passe,.title_texto{
		font-size: 18px;
	}
	a .button{
		font-size: 8px;
		height: 100%;
		width: 50%;
	}
	.computador a .button{
		height: 50%;
	}
	.box-1,.box-2,.box-3{
		margin-top: 1%;
		margin-right: 2%;
		margin-left: 1%;
		width:95% ;
	}
	.title2{
		margin: 0;
		margin-top: 8%;
	}
	.quadros{
		width:30%;
	}
}
@media only screen and (max-height: 670px) {
	.descricao{
		font-size: 14px;
	}
}
@media only screen and (max-height: 825px) {
	.descricao{
		font-size: 14px;
	}
	.jargao,.sub,.sub:hover,.sub2,.passe{
		font-size: 12px;
	}
	.title_texto{
		font-size: 18px;
		text-align: center;
	}
}
@media only screen and (max-height: 645px) {
	.descricao{
		font-size: 14px;
	}

	
	.jargao,.sub,.sub:hover,.sub2,.passe,.title_texto{
		font-size: 12px;
	}
}
@media only screen and (max-height: 590px) {
	.computador,.producao{
		font-size: 8px;
	}
}
@media only screen and (max-height: 525px) {
	.computador,.producao{
		display: none;
	}
	.grid{
		height: 100%;
	}
}