@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
#explication{/*a section da explicao*/

	display: flex;
	padding-top: 10px;
	margin-top: 90px;
	background-color:#1f1f2e;
	color: white;
	width: auto;
	height: 12	0vh;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	

}
.area_texto {
	width: 100%;
	height: auto;
	font-size: 24px;
	justify-content: center;
}
.container-explication{
	grid-template-columns: 1fr;
	width: 65%;
	height: auto;
	flex-wrap: wrap;
	justify-content: center;border-bottom: .5em solid hsla(0,0%,4%,.2);box-shadow:  2px 4px 8px 16px rgba(0, 0, 0, 0.39);	
}
#explication h1{ /*Titulo do quem somos*/
	padding-left: 10px;
	width: 70%;
}
.footer{
	font-size: 24px;
	margin: 0px;
}
.title_texto{
	font-size: 48px;
	border-left: 5px solid #e02041;
	text-indent: 2%;
	margin-top: 10vh;
}
.area_texto p{/*Parte que explica quem somos*/
	justify-items: center;
	align-items: center;
	text-align: justify;
	text-indent: 20px;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
	margin-inline-end: 1em;
}
footer{
	color: #fafafa;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 2.8em;
	background-color: #1b1b29;
	width:100%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	height: auto;
	padding-bottom: 10px;
}

.grid{/* parte do grid que controla o meio do site  */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 100%;
	flex-wrap: wrap;
	grid-gap: 10px;
}

body{
	font: 400 14px Roboto, sans-serif;
	background-size: 12%;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100vh;
}
nav ul{ /* menu de navegacao   */
margin: 0px;
}
.menu ul li a{ /* items do menu dentro do nav*/ 
	padding: 20px 30px;
	transition:  .2s linear;
}
.menu ul li a:active,.menu ul li a:hover{
	/*items dentro do nav sendo ativados*/
	display: block;
	text-decoration: none;
	background-color: #c6d4e1;
}
.menu ul li a i:active,.menu ul li a i:hover{
	/* icones dentro dos items do menu sendo ativados */
	text-decoration: none;
	background-color: #c6d4e1;
}
.menu {/* parte do icones de cima */
	background-color: #fff;
}
.pagination li a{ /* parte do icones de cima */
	text-decoration: none;
	color:black;
	}
.container{/* A section que some para fakeloading*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fotos,.fotos2{/* As imagens */
	width: 50px;
	height: 50px;
} 
.heroes{ /* A section que envolve a imagem de backgroud  */
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color:#1f1f3d;
	background-repeat: no-repeat;
	background-image: url('../_imagens/heroes.png');
	background-size: auto;
	background-position: center;
	animation: heroes 1.5s ease-in;
	display: flex;
	flex-direction: column;
}
.conteudo{ /* a div que envolve todos os menus laterais */
	width: 100%;
	height: 70vh;
	margin-top: 0;
	flex-wrap: wrap;
}
.list-item{
	margin-left: 30%;
	font-size: 23px;
	list-style: georgian;
}
.computador,.producao{/* A div da menu computador  e a   A div do menu producao*/
	margin: 0;
	width: 80%;
	margin-top: 30px;
	display: grid;
	max-width: 100%;
	justify-self: center;
	justify-items: center;
	align-self: center;
	transition: 1s;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
	background-color: #eee;
	border: solid 1px #ccc;
	border-radius: 20px;
}
.computador{ /* A div da menu computador  */
	padding: 25px;
}
.producao{ /* A div do menu producao  */
	grid-template-rows: 1fr;
}
.producao:hover{ /* A div da menu lista  */
	transition: .8s;
	padding: 25px;	
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.computador:hover{ /* A div da menu computador  */
	transition: .6s;
	padding: 37px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.prods{/* A imagem dentro da div producao  */
	display: grid;
	justify-content: center;
	align-items: center;
	width: 64Px;
	height: auto;
	border-bottom: 1px solid white;
}
.pc{/* A imagem dentro da div computador  */
	display: grid;
	justify-content: center;
	align-items: center;
	width: 64Px;
	border-bottom: 1px solid white;
}
.flex{ /* A class que envolve o section para fazer a igualdade das colunas e icons */
	display: flex;
}

.jargao{   /* A frase de acao do lado esquerdo do site home */ 
	margin-left: 10px;
	font-size:34px;
	text-align: center;
	font-family: "Roboto Mono", monospace;
}
.passe{
	/* A frase de persuasao */ 
	font-size:24px;
	border-bottom: 1.5px solid  #fff;
	text-align: center;
}

.sub{/*o subtexto*/
	font-size: 20px;
	text-align: center;
}
.sub:hover{
	/* funcao mostrar o subtexto*/
	transition: step-end;
	font-size: 20px;
	border:0;
}
.mark{
	/* funcao marca texto para destacar o texto*/
	font-size: 36px;
	color: #fda53d;
}
.title_area{/* titulo de amarelo com bordas, em cima dos nomes dos criadores*/
    font-size: 16px;
    color: #fff;
    background: #fda53d;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 3px;
    border-top: solid 3px #ef993a;
	border-left: solid 3px #fcc63f;
}
.box-owners{  /* lista de criadores */
	border: solid 3px #fcc63f;
	border-top: solid 3px #ef993a;
	margin-bottom: 15px;
}
.sub2{
	margin: 10px;
}
.jargao,.passe,.sub1,.sub2,.mark,.title_area,.list-item{/* todo os formatos de texto centralizados*/
	justify-self: center;
}
	
.button{ /* todas as edicoes do  botao tanto vermelho da tela quanto do roxo partem daqui */
	width: 35%;
	height:45px;
	border:0;
	border-radius: 10px;
	color:#fff;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height:10%;
	opacity: 75%;
}
.button:hover{
	/* botao que fica nas duas divs do header, altera somente o botao*/
transition:  1.2s;
	/*filter:brightness(80%)serve para fazer uma mini transicao com falta de luz , tipo alteracao quando passa o mouse em cima*/
	opacity: 100%;
}
.computador a, .producao a{
	text-decoration: none;
	display: grid;
	width: 100%;
	justify-self: center;
	justify-items: center;
	align-items: center;
	justify-items:center;
}
.computador .button {
	background-color: #7159c1;
	box-shadow:0 5px 0 #700CDB;
	text-align: center;
	margin: 15px;
	text-decoration: none;
}
.producao .button {
	/* botao do div da direita com a lista, altera somente o botao*/
	background-color: #7159c1;
	text-align: center;
	margin-bottom: 15px;
	text-decoration: none;
	box-shadow:0 5px 0 #700CDB;
}
.botao{
	justify-self: center;
	justify-items: center;
	text-decoration: none;
}
.title2{	/* titulo do "Entenda como funciona"*/
	border-left: 5px solid #e02041;
	/*border-left: 5px solid #0fbf4d;*/
	margin-top: 120px;
	margin-left: 120px;
	height: auto;
	width: auto;
}
.title2 p{
	/* paragrafo do titulo do "Entenda como funciona"*/
	margin-left: 10px;
}
.most{
		/* div grid que eh a marcacao dos quadrados*/
	margin-top: 120px;
	display: grid; 
	grid-column-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	max-width: 100%;
	grid-gap: 10px;
	flex-wrap: wrap;
}
.box-1,.box-2,.box-3{
	/* itens do grid que sao os quadrados coloridos*/
	grid-column-gap: 10px;
	flex-wrap: wrap;
	justify-self: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    border-bottom: .5em solid hsla(0,0%,4%,.2);
    text-align: center;
    color: #fafafa;
	transition: transform 86ms ease-out;
	text-transform: uppercase;
	width: 450px;
	height: 100%;
}
.box-1{
	grid-column: 1;
	background-color:#0fbf4d;
}
.box-2{
	grid-column:2;
	background-color: #e0404e;
}
.box-3{
	grid-column: 3;
	background-color:#3273dc;
}
.quadros{
	background-color: (235, 231, 224);
}
.fotos2{
	margin-top: 10px;
}
.rodape{
	margin-top: 1%;
	padding-top:2%;
	background-color:#1f1f2e;
}

@keyframes heroes {  /* animacao que faz aparecer lentamente apos a div de fakeloading  */
    0% { opacity: 0%;}
    25% { opacity: 24%;}
    70% { opacity: 75%;}
    100% { opacity: 80%;}
  }